body {
  color: #222d61;
}

.contact-us {
  display: flex;
  justify-content: center;
}
.contact {
  font-size: 20px;
  margin-bottom: 50px;
  padding: 50px;
}
.contact-one {
  display: flex;
  justify-content: space-between;
}
.contact-one .contact-name {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.contact-one .contact-email {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.contact-two {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.contact-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #222d61;
}
.contact-input:focus {
  outline: none;
}
.contact-submit {
  margin-top: 30px;
  font-size: 20px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border-style: none;
  background-color: #222d61;
  color: white;
}
.contact-submit:hover {
  background-color: white;
  color: #222d61;
  outline: 1px solid #222d61;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 760px) {
  .contact-one .contact-name {
    width: 200px;
    margin-right: 20px;
  }
  .contact-one .contact-email {
    width: 200px;
  }
}
@media (max-width: 465px) {
  .contact-one .contact-name {
    width: 150px;
    margin-right: 20px;
  }
  .contact-one .contact-email {
    width: 150px;
  }
}
